<div class="message-wrapper">
  <div class="message-date text-center">
    <p><%= message.created_at.localtime.strftime('%e %b, %H:%M') %></p>
  </div>
  <div class="message-line flexed-left <%= 'flexed-right-reverse' if current_user == message.author %>">
    <div class="hidden author"><%= message.author.fullname %></div>
    <div class="wrapper-message-avatar">
      <%= cl_image_tag dynamic_avatar(message.author), class: 'conversation-card-avatar' %>
    </div>
    <div class="message-content">
      <p><%= message.content %></p>
    </div>
  </div>
</div>
