<%= render "shared/backlink" %>
<div class="under-navbar-fixed top"></div>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="big-top-marged">
        <div>
          <%= image_tag "logo-white.png", class: "logo-devise-pages"%>
        </div>
        <h2>Modifier mon profil</h2>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :first_name, required: true, autofocus: true, label: false, placeholder: "Prénom" %>
          <%= f.input :last_name, required: true, autofocus: true, label: false, placeholder: "Nom de famille" %>
          <%= f.input :email, required: true, autofocus: true %>
          <label>
            <div class="drop-image">
              Ajouter une photo de profil
            </div>
            <%= f.input :avatar, as: :attachinary, label: false %>
          </label>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>La confirmation est toujours en attent pour ce compte : <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :password, autocomplete: "off", label: false, hint: "Laissez vide si vous ne voulez pas changer de mot de passe.", required: false, placeholder: "Nouveau mot de passe" %>
          <%= f.input :password_confirmation, required: false, label: false, placeholder: "Confirmer le nouveau  mot de passe"  %>
          <%= f.input :current_password, label: false, placeholder: "Mot de passe actuel", hint: "Nous avons besoin de votre mot de passe actuel pour effectuer les modifications.", required: true %>
        </div>
        <div class="form-actions">
          <%= f.submit "Enregistrer les modifications", class: "btn btn-danger btn-form-devise btn-round" %>
        </div>
      <% end %>
      <h3>Supprimer mon compte</h3>
      <p>Non satisfait ?  <%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Confirmez-vous la suppression ?" }, method: :delete %></p>
      <div class="strip"></div>
    </div>
  </div>
</div>

<% content_for :title, "My account" %>
