<%= render "shared/backlink" %>
<div class="under-navbar-fixed top"></div>
<div class="container text-center">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="big-top-marged">
        <div>
          <%= image_tag "logo-white.png", class: "logo-devise-pages"%>
        </div>
        <h2>Je m'inscris</h2>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, welcome: true)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.simple_fields_for :code do |f| %>
            <%= f.input :signin_code, input_html: { value: @code ||= nil }, label: false, placeholder: "Entrer votre code d'inscription" %>
          <% end %>
          <%= f.input :first_name, required: true, autofocus: true, label: false, placeholder: "Prénom du parent" %>
          <%= f.input :last_name, required: true, autofocus: true, label: false, placeholder: "Nom de famille du parent" %>
          <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Email du parent" %>
          <%= f.input :password, required: true, label: false, placeholder: "Mot de passe #{('(' + @minimum_password_length.to_s + ' caractères min)') if @minimum_password_length}" %>
          <%= f.input :password_confirmation, required: true, label: false, placeholder: "Confirmer le mot de passe" %>
          <%= f.simple_fields_for @familylink  do |familylink_form| %>
            <%= familylink_form.input :parental_link,
                                      as: :radio_buttons,
                                      collection: [[0, "mère de"], [1, "père de"]],
                                      label_method: :last,
                                      value_method: :first,
                                      label: false,
                                      checked: 0 %>
          <% end %>
          <%= f.simple_fields_for @child  do |child_form| %>
            <%= child_form.input :first_name, required: true, autofocus: true, label: false, placeholder: "Prénom de votre enfant" %>
          <% end %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Créer mon compte", class: "btn btn-danger btn-form-devise  btn-round" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<% content_for :title, "My account" %>
