<div class="cover-background bg-white"></div>
<div id="conversation-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <div id="messages">
          <% if @conversation.messages.blank? %>
            <h4>Envoyez un premier message pour démarrer la conversation avec <%= @interlocutor.first_name %></h4>
          <% else %>
            <% @messages.each do |message| %>
              <%= render 'message_block', message: message %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bottom-fixed-input">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <div class="conversation-title flexed-left">
          <%= link_to conversations_path do %>
          <p>Inbox</p>
          <% end %>
          <span>Conversation avec <%= @interlocutor.first_name %></span>
        </div>
        <%= render partial: 'message_form', locals: { conversation: @conversation, message: @message } %>
      </div>
    </div>
  </div>
</div>

<!--%= f.submit '' class: 'btn btn-primary btn-round pull-right'%-->
