<div class="banner banner-page" style="background-image: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0.4), rgba(0,0,0,1)), url('<%= image_path 'Lange4.jpg' %>');">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
        <div class="banner-content">
          <h1>Le Conseil des Parents</h1>
          <p>Pour représenter les parents et coordonner les actions des parents</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="council-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Son bureau</h2>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('president.png', class: 'card-user') %>
            <div>
              <div class="card-category">Le Président</div>
              <div class="card-description">
                <h2>Michael Ramassamy</h2>
                <p>Enseignant au primaire pendant plus de douze ans, passionné par les nouvelles technologies, entrepreneur puis chef de projet informatique, j'ai souhaité participer à l'amélioration du bien-être, de la valorisation et de la responsabilisation des enfants de l'école.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-category">La Vice-Présidente</div>
              <div class="card-description">
                <h2>Anne-Lucie Vion</h2>
                <p>Enseignant au primaire pendant plus de douze ans, licencié en droit, passionné par les nouvelles technologies pour l'éducation, entrepreneur et chef de projet informatique, j'ai souhaité participer à l'amélioration du bien-être, de la valorisation et de la responsabilisation des enfants de l'école.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-category">La trésorière</div>
              <div class="card-description">
                <h2>Estelle Beal</h2>
                <p>Enseignant au primaire pendant plus de douze ans, licencié en droit, passionné par les nouvelles technologies pour l'éducation, entrepreneur et chef de projet informatique, j'ai souhaité participer à l'amélioration du bien-être, de la valorisation et de la responsabilisation des enfants de l'école.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-category">La secrétaire</div>
              <div class="card-description">
                <h2>Karima Kaddouri</h2>
                <p>Enseignant au primaire pendant plus de douze ans, licencié en droit, passionné par les nouvelles technologies pour l'éducation, entrepreneur et chef de projet informatique, j'ai souhaité participer à l'amélioration du bien-être, de la valorisation et de la responsabilisation des enfants de l'école.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Son rôle</h2>
        <p>Parents et École ont pour mission commune de réussir l'éducation des jeunes. Les parents d'élèves sont ainsi membres à part entière de la communauté éducative. Le dialogue avec les enseignants et l'ensemble des personnels permet d'assurer l'effectivité de leurs droits : droit d'information et d'expression, droit de participation. <br><br> Une association de parents d'élèves a pour objet la défense des intérêts moraux et matériels communs aux parents d'élèves. Elle ne regroupe que des parents d'élèves, auxquels sont assimilées les personnes ayant la responsabilité légale d'un ou plusieurs élèves. Elle représente les parents d'élèves en participant aux conseils d'écoles, aux conseils d'administration des établissements scolaires et aux conseils de classe. <br><br> Dans le cadre de leur mission de représentation de membres de la communauté éducative et de leurs fonctions de médiation et d'information, les associations de parents d'élèves présentes dans l' établissement bénéficient d'un certain nombre de facilités. Elles disposent de moyens matériels : boîtes aux lettres, tableaux d'affichage, accès à la liste comportant les noms et adresses des parents d'élèves de l'établissement qui ont donné leur accord à cette communication. Elles sont autorisées à faire connaître leur action auprès des autres parents d'élèves aux moyens de documents distribués aux élèves. La FCPE est une association nationale représentée au sein d'une école par un Conseil local de Parents d'élèves.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h2>Son fonctionnement</h2>
        <p></p>
      </div>
    </div>
  </div>
</div>
