<div class="banner banner-page" style="background-image: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,0)), url('<%= image_path 'lange.jpg' %>');">
  <div class="banner-content">
    <h1>Le Conseil d'Ecole</h1>
    <p>Pour réunir l'équipe enseignante, la mairie et les représentants des parents</p>
  </div>
</div>
<div class="council-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Son rôle</h3>
        <p> Le conseil d'école :
<br>1° Vote le règlement intérieur de l'école;
<br>2° Établit le projet d'organisation pédagogique de la semaine scolaire;
<br>3° Dans le cadre de l'élaboration du projet d'école à laquelle il est associé, donne tous avis et présente toutes suggestions sur le fonctionnement de l'école et sur toutes les questions intéressant la vie de l'école, et notamment sur:
<br>a) Les actions pédagogiques et éducatives qui sont entreprises pour réaliser les objectifs nationaux du service public d'enseignement;
<br>b) L'utilisation des moyens alloués à l'école;
<br>c) Les conditions de bonne intégration d'enfants handicapés;
<br>d) Les activités périscolaires;
<br>e) La restauration scolaire;
<br>f) L'hygiène scolaire;
<br>g) La protection et la sécurité des enfants dans le cadre scolaire et périscolaire notamment contre toutes les formes de violence et de discrimination, en particulier de harcèlement ; h) Le respect et la mise en application des valeurs et des principes de la République.
<br>4° Statue sur proposition des équipes pédagogiques pour ce qui concerne la partie pédagogique du projet d'école;
<br>5° En fonction de ces éléments, adopte le projet d'école;
<br>6° Donne son accord:
<br>a) Pour l'organisation d'activités complémentaires éducatives, sportives et culturelles;
<br>b) Sur le programme d'actions établi par le conseil école-collège
<br>7° Est consulté par le maire sur l'utilisation des locaux scolaires en dehors des heures d'ouverture de l'école
<br>
<br>En outre, une information doit être donnée au sein du conseil d'école sur:
<br>a) Les principes de choix de manuels scolaires ou de matériels pédagogiques divers;
<br>b) L'organisation des aides spécialisées.
<br>
<br>En fin d'année scolaire, le directeur de l'école établit à l'intention des membres du conseil d'école un bilan sur toutes les questions dont a eu à connaître le conseil d'école, notamment sur la réalisation du projet d'école, et sur les suites qui ont été données aux avis qu'il a formulés.
<br>
<br>Par ailleurs, le conseil d'école est informé des conditions dans lesquelles les maîtres organisent les rencontres avec les parents de leurs élèves, et notamment la réunion de rentrée.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Sa composition</h3>
        <p>Dans chaque école, le conseil d'école est composé des membres suivants :<br><br>1° Le directeur de l'école, président ;
          <br>2° Deux élus :
          <br>a) Le maire ou son représentant ;
          <br>b) Un conseiller municipal désigné par le conseil municipal ou, lorsque les dépenses de fonctionnement de l'école ont été transférées à un établissement public de coopération intercommunale, le président de cet établissement ou son représentant ;
          <br>3° Les maîtres de l'école et les maîtres remplaçants exerçant dans l'école au moment des réunions du conseil ;
          <br>4° Un des maîtres du réseau d'aides spécialisées intervenant dans l'école choisi par le conseil des maîtres de l'école ;
          <br>5° Les représentants des parents d'élèves en nombre égal à celui des classes de l'école, élus selon les modalités fixées par arrêté du ministre chargé de l'éducation ;
          <br>6° Le délégué départemental de l'éducation nationale chargé de visiter l'école.
          <br>
          <br>L'inspecteur de l'éducation nationale de la circonscription assiste de droit aux réunions.</p>
        <p>Voici les parents élus cette année au Conseil d'Ecole</p>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Michael Ramassamy</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Christophe Sanson</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Arnaud Nuter</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Anne-Lucie Vion</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Frédéric Peruch</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Gaëlle Pujos</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Céline Pouxviel</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Estelle Beal</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Karima Kaddouri</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Claire Reymondeaux</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Elsa Jullien</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Florian Delerue</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Florian Delabracherie</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="member-card">
            <%= image_tag('user.png', class: 'card-user') %>
            <div>
              <div class="card-description">
                <h2>Joëlle Perroton</h2>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Son fonctionnement</h3>
        <p>Le directeur d'école préside le conseil d'école qui réunit les représentants de la communauté éducative et donne son avis sur les principales questions de vie scolaire. <br><br>
          Chaque année, des représentants des parents sont élus. Il y a autant de parents élus titulaires que le nombre de classes, et un nombre encore égal de parents élus suppléants. <br> Tout parent d'élève, membre ou non d'une association de parents d'élèves, peut présenter une liste de candidats aux élections des représentants de parents d'élèves. Les parents sont ainsi amenés à participer, par l'intermédiaire de leurs représentants élus, au conseil d'école.
          <br><br>Le conseil d'école est constitué pour une année et siège valablement jusqu'à l'intervention du renouvellement de ses membres.
          Le conseil d'école se réunit au moins une fois par trimestre, et obligatoirement dans les quinze jours suivant la proclamation des résultats des élections, sur un ordre du jour adressé au moins huit jours avant la date des réunions aux membres du conseil. En outre, il peut également être réuni à la demande du directeur de l'école, du maire ou de la moitié de ses membres.Le président, après avis du conseil, peut inviter une ou plusieurs personnes dont la consultation est jugée utile en fonction de l'ordre du jour.
          Les suppléants des représentants des parents d'élèves peuvent assister aux séances du conseil d'école.</p>
      </div>
    </div>
  </div>
</div>
