<div class="parallax">
  <div class="parallax-layer parallax-background" style="background-image: url(<%= image_path('pattern.png') %>); background-repeat: repeat;">
  </div>
  <div class="parallax-layer parallax-content">
    <div class="banner banner-page" style="background-image: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0.4), rgba(0,0,0,1)), url('<%= image_path 'banner-home2.jpg' %>');">
      <div class="banner-content">
        <h1>L'actu de l'école</h1>
        <% if current_user.admin %>
          <%= link_to 'Ajouter un article', new_post_path %>
        <% end %>
      </div>
    </div>
    <div class="container">
      <% @posts.each do |post| %>
        <div class="post-wrapper">
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <div class="post-image" style="background-image: url(<%=
              image_path(post.photo? ? post.photo : 'post-default.png') %>);">
                <% if current_user.admin %>
                  <%= render 'posts/update_picture', post: post %>
                <% end %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-7">
              <div class="post-details">
                <div class="post-text">
                  <div class="post-header">
                    <h2><%= post.title %></h2>
                    <% if current_user.admin %>
                      <%= link_to '', edit_post_path(post), class: "fa  fa-pencil" %>
                      <%= link_to '', post_path(post), class: "fa  fa-trash-o", method: :delete, data: { confirm: "Êtes-vous sûr ?" } %>
                    <% end %>
                  </div>
                  <div class="post-content">
                    <p><%= post.content %></p>
                    <%= link_to 'Lire', post_path(post)%>
                  </div>
                </div>
                <div class="post-footer">
                  <%= image_tag 'user.png', class: 'post-avatar' %>
                  <div class="post-footer-details">
                    <h4><%= post.user.fullname %></h4>
                    <p><%= post.created_at.strftime('%d-%m-%Y') %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :title, "Actu" %>
