<div class="parallax">
  <div class="parallax-layer parallax-background" style="background-image: url(<%= image_path('pattern.png') %>); background-repeat: repeat;">
  </div>
  <div class="parallax-layer parallax-content">
    <div class="banner banner-page" style="background-image: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,0)), url('<%= image_path 'banner-posts2.jpg' %>');">
      <div class="container">
        <div class="row">
          <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
            <div class="banner-content">
              <h1>L'actu de l'école</h1>
              <% if current_user.admin %>
                <%= link_to 'Ajouter un article', new_post_path, class: "btn-round btn-outlined-white" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <% @posts.each do |post| %>
        <div class="post-wrapper">
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <div class="post-image post-image-wrapper-height post-image-rounded" style="background-image: url(<%= post.photos? ? cl_image_path(post.photos.first.path) : image_path('post-default.png') %>);">
              </div>
            </div>
            <div class="col-xs-12 col-sm-7">
              <div class="post-details">
                <div class="post-text">
                  <div class="post-header">
                    <h2><%= post.title %></h2>
                    <% if current_user.admin %>
                      <%= link_to '', edit_post_path(post), class: "fa fa-pencil fa-lg icon-color" %>
                      <%= link_to '', post_path(post), class: "fa fa-trash-o fa-lg icon-color", method: :delete, data: { confirm: "Êtes-vous sûr ?" } %>
                    <% end %>
                  </div>
                  <div class="post-content">
                    <p><%= post.content %></p>
                    <%= link_to 'Lire tout', post_path(post), class: 'btn-round-small btn-outlined-gray'%>
                  </div>
                </div>
                <div class="post-footer">
                  <%= image_tag 'user.png', class: 'post-avatar' %>
                  <div class="post-footer-details">
                    <h4><%= post.user.fullname %></h4>
                    <p><%= post.created_at.strftime('%d-%m-%Y') %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :title, "Actu" %>
