<%= render "shared/link-to-backposts" %>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2><%= @post.title %></h2>
        <% if current_user.admin %>
          <%= link_to '', edit_post_path(@post), class: "fa  fa-pencil" %>
          <%= link_to '', post_path(@post), class: "fa  fa-trash-o", method: :delete, data: { confirm: "Êtes-vous sûr ?" } %>
        <% end %>
        <p><%= @post.content %></p>
      </div>
    </div>
  </div>
</div>

<% content_for :title, "Article" %>
