<%= render "shared/backlink" %>
<div class="container">
    <div class="post-wrapper">
      <div class="row">
        <div class="col-xs-12">
          <div class="post-details-show post-details-padding">
            <div class="post-text">
              <div class="post-header post-header-show">
                <h2><%= @post.title %></h2>
                <% if current_user.admin %>
                  <%= link_to '', edit_post_path(@post), class: "fa  fa-pencil fa-lg icon-color" %>
                  <%= link_to '', post_path(@post), class: "fa  fa-trash-o fa-lg icon-color", method: :delete, data: { confirm: "Êtes-vous sûr ?" } %>
                <% end %>
              </div>
              <div class="post-content">
                <p><%= @post.content %></p>
              </div>
            </div>
            <div class="post-footer">
              <%= image_tag 'user.png', class: 'post-avatar' %>
              <div class="post-footer-details">
                <h4><%= @post.user.fullname %></h4>
                <p><%= @post.created_at.strftime('%d-%m-%Y') %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <% if @post.photos? %>
          <% @post.photos.each do |photo| %>
            <div class="col-xs-12 col-md-6">
              <div class="post-image post-image-wrapper-height top-marged" style="background-image: url(<%= cl_image_path(photo.path) %>);">
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
</div>

<% content_for :title, "Article" %>
